<body>
    <div>
        <!-- <script src="public/javascript/mvc/models/queue.js" type="module"> </script>
        <script src="public/javascript/mvc/models/scoreboard.js" type="module"> </script>
        <script src="public/javascript/mvc/models/model.js" type="module"> </script>
        <script src="public/javascript/mvc/views/view.js" type="module"> </script>
        <script src="public/javascript/mvc/controller/controller.js" type="module"> </script>
        <script src="public/javascript/planner.js" type="module"> </script> -->
        <script src="public/javascript/scoreboard.js" type="module"> </script>
        <script src="public/javascript/templates.js" type="module"> </script>
        <script src="public/javascript/mvc.js" type="module"> </script>
    </div>
    <div class="container-fluid">
        <div class="row">
        
            <div class="col-sm-4">
                <div id="control">
                    <p id="control-title">Subject Control Panel</p>
                    <p id="create-subject-label">Add New Subject</p>
                    <div id="create-subject">
                        <input type="text" name="subject" placeholder="new subject..." id="createSubject"/> 
                        <button id="create-subject-button">submit</button>
                    </div>
                    <div id="subject-subcategories">
                    </div>
                </div>
            </div>

            <div class="col-sm-4" id="que-list">

            </div>


            <div class="col-sm-4" id="score">
                
            </div>
        </div>
    </div>

</body>