<body action='/user/planner' method='POST'>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-4" id="Left_Panel"></div>
            <div class="col-sm-4" id="Middle_Panel"></div>
            <div class="col-sm-4" id="Right_Panel"></div>
        </div>
    </div>
    <div class='invisible'>
        <script src="https://unpkg.com/react@16/umd/react.development.js" crossorigin></script>  
        <script src="https://unpkg.com/react-dom@16/umd/react-dom.development.js" crossorigin></script>
        <script src="public/javascript/mvc/models/queue.js" type="module"> </script>
        <script src="public/javascript/mvc/models/scoreboard.js" type="module"> </script>
        <script src="public/javascript/mvc/models/model.js" type="module"> </script>
        <script src="public/javascript/mvc/views/view.js" type="module"> </script>
        <script src="public/javascript/mvc/controller/controller.js" type="module"> </script>
        <script src="public/javascript/planner.js" type="module"> </script>
    </div>
</body>