<body>
    <div id="root"></div>
        <div>
            <!-- <script src="https://unpkg.com/react@16/umd/react.development.js" crossorigin> </script>   -->
            <!-- <script src="https://unpkg.com/react-dom@16/umd/react-dom.development.js" crossorigin > </script> -->
            <script src="public/js/models/scoreboard.js" type="module"> </script>
            <script src="public/js/views/planner.js" type="module"> </script>
            <script src="public/js/views/controlPanel.js" type="module"> </script>
            <script src="public/js/mvc.js" type="module"> </script>
            <script src="public/js/react.min.js"> </script>
            <script src="public/js/react-dom.min.js"> </script>
        </div>
</body>