<style>
        /* {background-color:lightseagreen;} */
    h1 {   text-align: center;
            font-size: xx-large;
    }

    main {
        min-height: 18rem;
    }

</style>
<h1>Welcome to your Student Task Planner</h1>

<div class="welcome">
<a href="/user/login" button type="button" class="btn btn-primary btn-lg">Login</a>
<a href="/user/register"button type="button" class="btn btn-secondary btn-lg">Register</a>
</div>