/* Color Palette
#360f0f             dark maroon
#b94b4f             bright red
#323232             charcoal
#2d180f             reddish brown
#31465a             mellow navy blue
rgb(255, 130, 62)   bright orange
rgb(156, 95, 61)    subdued orange
 */

 /* test colors */
#test {
    color: #b94b4f;
}




/* header */

.navIn {
    padding:.5rem;
    /* background-color: #31465a; */
    background-color: #323232;

}

.navIn p {
    color: #dddddd;
    font-size: 20pt;
    font-weight: 500;
    text-align: center;
    padding-bottom: .2rem;
    padding: 1rem;
}

header {
    padding-bottom: 1rem;
    background-color: #0f172d;
}

/* // welcome.ejs */

.welcome
{   
<<<<<<< HEAD
    /* margin-top:100px;
    margin-left:450px; */

=======
>>>>>>> james_client
    text-align: center;
    padding-top: 6rem;
    
}


/* Main Body */

#background {
<<<<<<< HEAD
    padding-top: 1rem;
=======
    /* padding-top: 1rem; */
>>>>>>> james_client
    background-color: #31465a;
    /* background-color: lightseagreen; */
    /* background-color: #360f0f; */
    color: #dddddd;
    min-height: 30rem;
}

body {
    background-color: #323232;
}

<<<<<<< HEAD
button {
    border: solid 1pt rgb(255, 130, 62);
    background-color: rgb(255, 130, 62);
    color: #323232;
    border-radius: 4px;
=======
.title-box {
    background-color: #b94b4f ;
    border-top: 1.5pt black solid;
>>>>>>> james_client
}

/* control-container {} */

.master-queue-container {
    background-color: #3f5a73;
}

.scoreboard-container {
    padding: 0px;
}


/* Utility */


<<<<<<< HEAD
#control {
    font-size: 10pt;
    line-height: 12pt;
    background-color: #323232;
    padding-bottom: 1rem;
    padding: 1rem;
    border: 2.5pt solid black;
    border-radius: 16px;
}

#control-title {
    text-align: center;
    padding: .5rem;
    margin-bottom: 1rem;
    background-color: #b94b4f ;
    border-radius: 4px;
    width: 40%;
    margin-left: 30%;
=======
select {
    /* for Firefox */
    -moz-appearance: none;
    /* for Chrome */
    -webkit-appearance: none;
}

/* For IE10 */
select::-ms-expand {
    display: none;
>>>>>>> james_client
}

.comp-container {
    border: black solid 1.5pt;
}


.submitButton:hover {
    background-color: #0370e4;
    border-color: #0062cc;
}

.submitButton {
    background-color: #007bff;
    border-color: #007bff;
}

.completeButton {
    background-color: #28a745;
    border-color: #28a745;
    padding-left: 0px;
    padding-right: 0px;
    font-size: xx-small;
    text-align: center;
}
.completeButton:hover {
    background-color: #218838;
    border-color: #1e7e34;
}

.deleteButton {
    background-color: #dc3545;
    border-color: #dc3545;
    padding-left: 0px;
    padding-right: 0px;
    font-size: xx-small;
    text-align: center;
}

.deleteButton:hover {
    background-color: #c82333;
    border-color: #bd2130;
}

.button-column {
    /* padding-right: 0px; */
    padding-left: 0px;
    margin-right: 0px;
    margin-left: 0px;

}

<<<<<<< HEAD
#subject-subcategories {
    padding-top: 3rem;
    margin-bottom: 1rem;

=======
.w100 {
    width: 100%;
>>>>>>> james_client
}

.w80 {
    width: 80%;
}

.w75 {
    width: 75%;
}

.w60 {
    width: 60%;
}

.w50 {
    width: 50%;
}

.w40 {
    width: 40%;
}

.w25 {
    width: 25%;
}

.w20 {
    width: 20%;
}

.h100 {
    height: 100%;
}

.h50 {
    height: 50%;
}

.h25 {
    height: 25%
}

/* Subject control panel */

#control-panel {
    min-height:  40vh;
}

#new-subject-title {
    border-bottom: 1.5pt solid black;
}

.buffer {
    min-height: 15vh;
    border-top: 1.5pt solid black;

} 

#add-items {
    border-left: 1pt black solid;
    border-top: 1pt black solid;
}


.task-header {
    padding-left: 5px;
    padding-right: 10px;
    font-size: small;
    border-top: 1pt black solid;
    border-right: 1pt black solid;

}



.input-field {
    background-color: white;
    border-top: 1pt black solid;
    padding-right: 0px;

}

.input-field > input{
    background-color: white;
    border: white;
    font-family: initial;
    font-size: small;
}

.input-field > select{
    background-color: white;
    font-family: initial;
    border: white;
    /* float: right; */
    text-align: right;
    font-size: small;
    width: 100%;
}

<<<<<<< HEAD
.que-bar {
    margin: .2rem;
    padding-bottom: 0.5rem;
    padding-left: .5rem;
    padding-right: .5rem;
    padding-top: .5rem;
    border-radius: 4px;
    background-color: #31465a;
=======
.points-field {
    border-bottom: black solid .5pt;
>>>>>>> james_client
}



/* Queue */

.master-queue-head {
    text-align: center;
    padding: .5rem;
    background-color: #b94b4f ;
    border: black solid 1pt;
}



.queue-item {
    border: black solid 1pt;
    border-right: black solid 1.5pt;
    border-left: black solid 1.5pt;
}

.queue-title {
    background-color: #3f5a73;
    /* background-color: white; */
    text-align: center;

}

.queue-title a {
    color: white;
}

.queue-title h2 {
    color: white;
}

.queue-left {
    padding-right: 0px;
    margin-right: 0px;
}

.queue-left div {
    background-color: white;
}

.queue-left div .queue-title {
    
    background-color: #3f5a73;
}

.mid-queue {
    font-size: small;
    line-height: 1.1;
    /* border-top: black solid 1pt;
    border-right: black solid 1pt;
    border-left: black solid 1pt; */
    margin-right: 0px;
    margin-left: 0px;
    padding-right: 0px;
    padding-left: 0px;
    padding-bottom: 0px;
    margin-bottom: 0px;
}

<<<<<<< HEAD
#scoreboard table {
    border: solid 1pt grey;
    background-color: #323232;
    /* background-color: rgb(49, 70, 90); */
    color: #dddddd;
=======
.mid-queue > * {
    border-left: black solid 1pt;
    border-right: black solid 1pt;
    text-align: center;
    border-top: black solid 1pt;
    
>>>>>>> james_client
}

.queue-details {
    border-top: 1pt black solid;
    font-size: small;
    background-color: white;
    /* background-color: lightseagreen; */
    text-align: center;
    color: black;
}

.queue-due {
    border-top: none;
    background-color: blue;

}

/* Scoreboard */

.table-title {
    text-align: center;
    padding: .5rem;
}



/* Footer  */

footer {
    background-color: lightseagreen;
    /* background-color: rgb(156, 95, 61); */
}

footer p {
    padding-top: 1.75rem;
    margin-bottom: 1rem;
    background-color: #0f172d;
}

footer .navIn{
    background-color: #323232;
    padding: 1.5rem;
}

.navIn aside {
    color: #dddddd;
    text-align: right;
}

.navIn section {
    min-height: 2rem;
}